@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../img/acc-10-bg-main-index.jpg") no-repeat scroll center top #000000;
    color: #222;
    font-family: arial,'lucida grande',verdana,helvetica,sans-serif;
    font-size: 80%;
    margin: 0;
    padding: 0;
}
.clear {
	clear:both;
}
a {
	font-weight:bold;
    color: #6C6D71;
}
li a {
	font-size:14px;
	font-weight:bold;
    color: #6C6D71;
}
ul li ul li {
	font-style:italic;
	color:#999;
}
a:hover {
    color: #004c88;
    text-decoration: none;
}
a img {
    border: medium none;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.5em;
	padding:10px;
}
h1 {
    color: #6C6D71;
    font-size: 200%;
}
h2 {
	background-color:#fff;
    color: #6C6D71;
    font-family: arial,'Gill Sans','lucida grande',helvetica,sans-serif;
    font-size: 190%;
	padding:8px 15px 8px 30px ;
}
h3 {
    color: #999933;
    font-family: arial,'Gill Sans','lucida grande',helvetica,sans-serif;
    font-size: 165%;
}
h4 {
    color: #999933;
    font-weight: normal;
}

li ul {
    margin: 0px;
	height:auto;
}

ul {
	width:630px;
	height:150px;
	margin:10px 0 0 30px;
	list-style-image: none;
    list-style-type: none;
}

li {
	float:left;
	width:234px;
	height:40px;
	padding:12px 12px 12px 62px;
	background: #F5F5F5;
	margin:3px 3px;
}
#contentsub li {
	height:20px;
	margin:5px;
	float:left;
	background:transparent;
	width:Auto;
}
#contentsub ul {
	height:auto;
	width:800px;
	padding:0 20px;
	background:transparent;
	
}


ul li ul li {
	padding:3px 0;
	width:Auto;
	height:Auto;
	padding:0;
	margin:3px 0;
}
/*------------------------- Icons -------------------------------*/

.configurations {
	background: url(../img/cmsicons/configurations.png) 10px 12px no-repeat #F5F5F5 ;
}
.users {
	background: url(../img/cmsicons/users.png) 10px 12px no-repeat #F5F5F5 ;
}
.archive_feeds {
	background: url(../img/cmsicons/archived_feeds.png) 10px 12px no-repeat #F5F5F5 ;
}
.livestream_feeds {
	background: url(../img/cmsicons/livestream_feeds.png) 10px 12px no-repeat #F5F5F5 ;
}
.preroll_ads {
	background: url(../img/cmsicons/preroll_ads.png) 10px 12px no-repeat #F5F5F5 ;
}
.popover_ads {
	background: url(../img/cmsicons/popover_ads.png) 10px 12px no-repeat #F5F5F5 ;
}
.logout {
	background: url(../img/cmsicons/logout.png) 10px 12px no-repeat #F5F5F5 ;
}



/*------------------------- End Icons -------------------------------*/

#container {
	background: none repeat scroll 0 0 #FFFFFF;
    text-align: left;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	
}
#header {
    padding: 10px 20px;
}
#header {
    background: url("../img/acc-header.png") no-repeat scroll left center;
    color: #6C6D71;
    padding:0 120px;
	height:85px;
}
#header a, #header h1 a {
	color:#FFF;
	display: block;
    padding:27px;
	font-size:16px;
	margin:0;
	font-weight:bold;
	text-decoration:none;
}
#header a:hover {
	color:#004c88;
}

#header h1 a:hover {
    color: #004c88;
    text-decoration: none;
}
#content {
    clear: both;
    color: #333333;
	height:auto;
	padding:0 0 20px 0;
}
.pageTitle {
	background:url(../img/pageTitleBg.jpg) no-repeat center;
	height:55px;
	margin:0 0 20px 0;
}

#footer {
    background: none repeat scroll 0 0 #222;
    clear: both;
	margin:10px 0 0 0;
    padding: 6px 10px;
    text-align: center;
	overflow:auto;
}
#footer p {
	margin:auto;
	width:auto;
	float:left;
	margin:0 6px;
}
#footer a {
    background: none repeat scroll 0 0;
    color: #6C6D71;
    font-weight: normal;
    text-decoration: none;
}
#footer a:hover {
    background: none repeat scroll 0 0;
    color: #000000;
    text-decoration: underline;
}
div.form, div.index, div.view {
    border-left: 0px solid #666666;
    padding:15px;
	margin:15px;
}
div.actions {
    overflow: auto;
    padding:15px;
	margin:15px;
	border-bottom: 2px solid #CCC;
}
div.actions h3 {
    color: #777777;
    padding-top: 0;
}
table {
    border-right: 0 none;
    clear: both;
    color: #333333;
    margin-bottom: 10px;
    width: 100%;
}
th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #555555;
    border-style: none none solid;
    border-width: 0 0 2px;
    padding: 4px;
    text-align: left;
}
th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
th a.asc:after {
    content: " ⇣";
}
th a.desc:after {
    content: " ⇡";
}
table tr td {
    border-bottom: 1px solid #DDDDDD;
    padding: 6px;
    text-align: left;
    vertical-align: top;
}
table tr:nth-child(2n) td {
    background: none repeat scroll 0 0 #F5F5F5;
}
table .altrow td {
    background: none repeat scroll 0 0 #F5F5F5;
}
td.actions {
    text-align: center;
    white-space: nowrap;
}
table td.actions a {
    margin: 0 6px;
    padding: 2px 5px;
}
.cake-sql-log table {
    background: none repeat scroll 0 0 #F4F4F4;
}
.cake-sql-log td {
    font-family: arial,Monaco,Consolas,"Courier New",monospaced;
    padding: 4px 8px;
    text-align: left;
}
.cake-sql-log caption {
    color: #FFFFFF;
}
div.paging {
    clear: both;
    color: #999;
    margin-top: 1em;
}
div.paging span.disabled {
    color: #999;
    display: inline;
}
div.paging span.current {
    color: #C73E14;
}
div.paging span a {
}
dl {
    line-height: 2em;
    margin: 0;
    overflow: auto;
    width: 100%;
}
dl .altrow {
    background: none repeat scroll 0 0 #F4F4F4;
}
dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
    width: 15em;
}
dd {
    margin-left: 15em;
    margin-top: -2em;
    vertical-align: top;
}
form {
    clear: both;
    margin-right: 20px;
    padding: 0;
    width: 95%;
}
fieldset {
    border: 1px solid #CCCCCC;
    margin-bottom: 1em;
    padding: 16px 20px;
}
fieldset legend {
    color: #EE3322;
    font-size: 160%;
    font-weight: bold;
}
fieldset fieldset {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 16px 10px;
}
fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
form div {
    clear: both;
    margin-bottom: 1em;
    padding: 0.5em;
    vertical-align: text-top;
}
form .input {
    color: #444444;
}
form .required {
    font-weight: bold;
}
form .required label:after {
    color: #EE3322;
    content: "*";
    display: inline;
}
form div.submit {
    border: 0 none;
    clear: both;
    margin-top: 10px;
}
label {
    display: block;
    font-size: 110%;
    margin-bottom: 3px;
}
textarea {
    clear: both;
    font-family: arial,"frutiger linotype","lucida grande","verdana",sans-serif;
    font-size: 120%;
    height: 10px;
    padding: 1%;
    text-align: left;
    vertical-align: bottom;
    width: 98%;
}
input {
    clear: both;
    font-family: arial,"frutiger linotype","lucida grande","verdana",sans-serif;
    font-size: 100%;
    padding: 1%;
    width: 98%;
}
select {
    clear: both;
    font-size: 100%;
    vertical-align: text-bottom;
}
select[multiple="multiple"] {
    width: 100%;
}
option {
    font-size: 100%;
    padding: 0 3px;
}
input[type="checkbox"] {
    clear: left;
    float: left;
    margin: 0 6px 7px 2px;
    width: auto;
}
div.checkbox label {
    display: inline;
}
input[type="radio"] {
    float: left;
    margin: 0 3px 7px 0;
    width: auto;
}
div.radio label {
    margin: 0 0 6px 20px;
}
input.buttontext {
    color: #000000;
    height: auto;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-top: -25px;
    padding-top: 5px;
    vertical-align: baseline;
    width: 80%;
}
input.textbutton {
    color: #000000;
    height: auto;
    margin-bottom: 10px;
    margin-top: -25px;
    top: 15px;
    vertical-align: baseline;
    width: 15%;
}
input[type="submit"] {
    display: inline;
    font-size: 110%;
    width: auto;
}
form .submit input[type="submit"] {
    background: -moz-linear-gradient(center top , #A8EA9C, #62AF56) repeat scroll 0 0 #62AF56;
    border-color: #2D6324;
    color: #000000;
    text-shadow: 0 1px 0 #8CEE7C;
}
form .submit input[type="submit"]:hover {
    background: -moz-linear-gradient(center top , #85E573, #4CA83D) repeat scroll 0 0 #4CA83D;
}
div.message {
    background: none repeat scroll 0 0 #C73E14;
    clear: both;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em;
    padding: 5px;
}
div.error-message {
    background: none repeat scroll 0 0 #C73E14;
    clear: both;
    color: #FFFFFF;
    font-weight: bold;
}
p.error {
    background-color: #EE3322;
    color: #FFFFFF;
    font-family: arial,Courier,monospace;
    font-size: 120%;
    line-height: 140%;
    margin: 1em 0;
    padding: 0.8em;
}
p.error em {
    color: #000000;
    font-weight: normal;
    line-height: 140%;
}
.notice {
    background: none repeat scroll 0 0 #FFCC00;
    color: #000000;
    display: block;
    font-family: arial,Courier,monospace;
    font-size: 120%;
    line-height: 140%;
    margin: 1em 0;
    padding: 0.8em;
}
.success {
    background: none repeat scroll 0 0 green;
    color: #FFFFFF;
}
div.actions ul {
    margin: 0;
    padding: 0;
}
div.actions li {
    list-style-type: none;
    margin: 0 0 0.5em;
    padding: 0;
    white-space: nowrap;
}
div.actions ul li a {
    clear: both;
    display: block;
    font-weight: normal;
}
div.actions ul li a:hover {
    text-decoration: underline;
}
input[type="submit"], div.actions ul li a, td.actions a {
    background: -moz-linear-gradient(center top , #F1F1D4, #E6E49F) repeat scroll 0 0 #E6E49F;
    border: 1px solid #AAAC62;
    border-radius: 8px 8px 8px 8px;
    color: #333333;
    font-weight: normal;
    min-width: 0;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 131px;
}
input[type="submit"]:hover, div.actions ul li a:hover, td.actions a:hover {
    background: none repeat scroll 0 0 #F0F09A;
}
input[type="file"] {
    margin-top: -60px;
    opacity: 0;
    size: 400px;
}
div.related {
    clear: both;
    display: block;
}
pre {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #000000;
    padding: 1em;
}
pre.cake-debug {
    background: none repeat scroll 0 0 #FFCC00;
    font-size: 120%;
    line-height: 140%;
    margin-top: 1em;
    overflow: auto;
    position: relative;
}
div.cake-stack-trace {
    color: #333333;
    font-size: 120%;
    line-height: 140%;
    margin: 0;
    overflow: auto;
    padding: 6px;
    position: relative;
}
div.cake-code-dump pre {
    overflow: auto;
    position: relative;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
    background-color: #F0F0F0;
    color: #000000;
    margin: 0;
    overflow: auto;
    padding: 1em;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    overflow: auto;
    padding: 4px;
}
div.cake-code-dump span.code-highlight {
    background-color: #FFFF00;
    padding: 4px;
}
div.code-coverage-results div.code-line {
    display: block;
    margin-left: 10px;
    padding-left: 5px;
}
div.code-coverage-results div.uncovered span.content {
    background: none repeat scroll 0 0 #EECCCC;
}
div.code-coverage-results div.covered span.content {
    background: none repeat scroll 0 0 #CCEECC;
}
div.code-coverage-results div.ignored span.content {
    color: #AAAAAA;
}
div.code-coverage-results span.line-num {
    color: #666666;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 20px;
}
div.code-coverage-results span.line-num strong {
    color: #666666;
}
div.code-coverage-results div.start {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 1px 1px 0;
    margin-top: 30px;
    padding-top: 5px;
}
div.code-coverage-results div.end {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 0 1px 1px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}
div.code-coverage-results div.realstart {
    margin-top: 0;
}
div.code-coverage-results p.note {
    color: #BBBBBB;
    font-size: 10px;
    margin: 5px 0 10px;
    padding: 5px;
}
div.code-coverage-results span.result-bad {
    color: #AA0000;
}
div.code-coverage-results span.result-ok {
    color: #FFAA00;
}
div.code-coverage-results span.result-good {
    color: #00AA00;
}
#url-rewriting-warning {
    display: none;
}
.configurations dt {
    width: 18em;
}
.configurations dd {
    margin-left: 18em;
}
