#main {
    margin: auto;
	border: 1px solid #cccccc;
	width: 500px;
	background: #F1F3F5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
}

#result {
    margin-left: 80px;
	border: 1px solid #cccccc;
	width: inherit;
	background: #E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size : 12px;
    padding:5px;
    margin-bottom:20px;
}

.text {
	border: 1px solid #cccccc;
}

.values{
  font-family: verdana;
  font-weight:normal;
  font-size : 10px;
  vertical-align:top;
}

.key{
  font-family: verdana;
  font-weight:bold;
  font-size : 12px;
  padding-bottom:15px;
}


.caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin:10px;
    font-size : 140%;
    color:#C64934;
}

#source{
  text-align:right;
  padding-right:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size : 10px;
  color:#CCCCCC;
}

.index_title{
  text-align:left;
}

.unit_title0 {
  text-align:left;
}

.unit_title1 {
  text-align:right;
}

.unit_title2 {
  text-align:right;
}

.index_name {
  text-align:left;
  width: inherit;
}

img.index_bar {
    background:url(../img/barbg.gif);
    background-color:#333;
}

div.index_bkgd {
}

.index_bar0 {
    background:url(../img/barbg.gif);
    background-color:#333;
}

.index_bar1 {
    background:url(../img/barbg.gif);
    background-color:#333;
}

.index_value {
}
